body {
  background: rgb(247, 232, 166);
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
.croissant-img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
footer {
  text-align: center;
}
footer a {
  color: green;
  margin: 0 10px;
}
